---
import BaseLayout from "@/layouts/base-layout.astro";
import {
  supportedLangs,
  useTranslatedPath,
  useTranslations,
} from "@/utils/i18n";

export function getStaticPaths() {
  return supportedLangs.map((lang) => ({
    params: { lang },
  }));
}

const { lang } = Astro.params;
const t = useTranslations(lang);
const translatedPath = useTranslatedPath(lang);
---

<BaseLayout title="404" description={t("pageNotFoundDescription")}>
  <div class="mt-32 flex w-full flex-col items-center justify-center">
    <h1 class="mb-5 font-mono text-9xl font-black text-dracula-pink">404</h1>
    <p class="text-4xl font-bold">{t("pageNotFound")}</p>
    <a
      href={translatedPath("/")}
      class="mt-10 text-lg text-dracula-cyan underline underline-offset-4 transition-colors hover:text-dracula-purple"
    >
      {t("goBackHome")}
    </a>
  </div>
</BaseLayout>
