---
import { SITE } from "@/config";
import type { Lang } from "@/utils/i18n";

const { lang } = Astro.props;
---

<footer class="mt-14 flex w-full flex-col items-center gap-2">
  <p class="text-lg">
    {SITE.title[lang as Lang]}
  </p>
  <p class="text-sm">
    Powered by 🚀
    <a
      href="https://astro.build/"
      target="_blank"
      rel="nofollow"
      class="ghost-link">Astro</a
    >
  </p>
  <p class="text-dracula-comment text-xs">
    Based on <a
      href="https://github.com/BlockLune/astro-dracula-blog/"
      target="_blank"
      rel="nofollow"
      class="ghost-link">Astro Dracula Blog</a
    > by <a
      href="https://github.com/BlockLune"
      target="_blank"
      rel="nofollow"
      class="ghost-link">BlockLune</a
    >
  </p>
</footer>
