---
import Moon from "@/components/icons/moon.astro";
import Rss from "@/components/icons/rss.astro";
import LanguagePicker from "@/components/ui/language-picker.astro";
import { SITE } from "@/config";
import { type Lang, useTranslatedPath, useTranslations } from "@/utils/i18n";

const { lang, asH1 = true } = Astro.props;
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<header
  class="mb-14 flex flex-col justify-center gap-2 md:flex-row md:items-center md:justify-between"
>
  <div class="itmes-center flex justify-center gap-2">
    <a
      href={translatePath("/")}
      class="flex items-center justify-center gap-2 text-2xl font-black ghost-link md:justify-start"
    >
      <Moon />
      {
        asH1 ? (
          <h1 class="text-2xl font-black">{SITE.title[lang as Lang]}</h1>
        ) : (
          <p class="text-2xl font-black">{SITE.title[lang as Lang]}</p>
        )
      }
    </a>
    <a
      href="/rss.xml"
      class="transition hover:text-dracula-orange"
      aria-label="RSS Feed"
    >
      <Rss class="h-6 w-6" />
    </a>
  </div>
  <div class="flex items-center justify-center gap-4 md:justify-end">
    <a class="ghost-link-underline" href={translatePath("/")}>
      {t("nav.home")}
    </a>
    <a class="ghost-link-underline" href={translatePath("/tags")}>
      {t("nav.tags")}
    </a>
    <a class="ghost-link-underline" href={translatePath("/about")}>
      {t("nav.about")}
    </a>
    |
    <LanguagePicker />
  </div>
</header>
